section div,
header .bg > div {
  padding: 3rem 1rem;
  max-width: 100%;
}

nav a {
  padding: 2rem 3rem;
  color: white;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Arial, Verdana, sans-serif;
  border-right: 1px solid #702302;
  border-left: 1px solid #702302;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

nav {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
  background-color: #551A00;
}

nav a:hover,
nav a.active,
nav a:focus {
  background-color: #D48B6A;
}

body {
    margin: 0;
}

section {
  box-shadow: gray 1px 2px 3px;
  margin: 0;
}

header .bg {
  background: url("https://upload.wikimedia.org/wikipedia/commons/f/f0/Pepperoni_pizza_with_basil.jpg") center center;
}

header .bg > div {
  min-height: 200px;
  max-width: 60rem;
  margin: 0 auto;
}

.pozadi {
  padding: 2em;
  background-color: RGBA(128, 54, 21, 0.7);
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 0 5px rgba(0,0,0,0.6);
}

.pozadi h1,
.pozadi p {
  margin: 0;
  color: white;
  padding: 0;
  font-family: Arial, Verdana, sans-serif;
}

.container {
    max-width: 60rem;
    margin: 0 auto;
    font-family: Arial, Verdana, sans-serif;
}

.container h1 {
	text-transform: uppercase;
	color: #551A00;
}

.container h2 {
	text-transform: uppercase;
	color: #551A00;
	font-size: smaller;
}

.container h3 {
	text-transform: uppercase;
	color: #551A00;
	font-style: italic;
	font-size: smaller;
}

table, table td {
    padding: 5px 16px 14px 16px;
    background-color: #f9f3ef;
    line-height: 100%;
    width: 100%;
}
table {
  box-shadow: gray 1px 2px 3px;
}

.container tr:nth-child(odd) td {
    padding-top: 8px;
}

.container tr:nth-child(even) td {
    border-bottom: dotted 1px gray;
    padding-bottom: 8px;
}

.container table {
    border-top: solid 1px gray;
}

em {
    color: gray;
}
label {
  text-transform: uppercase;
  font: 80% Arial, Verdana, sans-serif;
}

form input,
form textarea {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 0.05rem solid rgba(128, 54, 21, 0.7);
  color: white;
  display: block;
  width: 30%;
}

form button {
  background-color: #551A00;
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 0.3rem;
  padding: 0.6rem 0.8rem;
}

form button:hover {
  cursor: pointer;
  background-color: #D48B6A;
}

footer {
    border-top: solid 1px gray;
    padding-left: 1rem;
    font-family: Arial, Verdana, sans-serif;
    font-size: smaller;
    text-align: center;
}

@media only screen and (min-width: 56.28em) {
  nav a {
    display: inline-block;
    padding: 2rem 3rem;
  }
